/* CSS designed by Robert M. Erickson */

/* ===================  General Section  ==================================== */
@import url('reset.css');
* {
	font-size:12pt;
}


html, body {height: 100%;}

body {
	width:100%;
	background:#fff;
	min-width:600px;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

a{
	border-width: .1em;
}
a:link{
	color: navy;
	border-style: solid;
	border-color: transparent;
}
a:visited{
	color: #fff;
}
a:hover {
	border-style: solid;
	border-color: navy;
	background: #D8DFEA;
}

h1, h2, h3 {
	display:block;
	font-weight:bold;	
	margin:.8em 0 .2em 0;
  padding:0;
}

h1{
	font-size:2em;
}

h2, h2 a{
	font-size:1.5em;
}

h3{
	font-size:1.5em;
}

img {
	margin:10px 0 5px;
}

p {
	padding: .4em 0 .8em 0;;
	margin: 0;
}

ol ol li {
	padding-bottom: 1em;

}
#wrapper {
	/* min-height: 100%;
	background-color: #fff;*/
}

/* ===================  Header  Section  ==================================== */
#header {
	background-color: #3B5998;
	border-bottom:1px solid #000;
	color: #fff;
	padding:10px;
}

#header a:link{
	color: #fff;
}

#header a:hover{
	background-color:#6D86B7;
}

#classtitle{
	font-size:14px; 
	font-weight:bold;
}

.todaysdate{
	float:right;
}

#toolmenu{
	float:right;
}

/* ===================  Student Info Section  =============================== */
#studentInfo{
	border: thick dashed #3B5998;
	color:black;
	float: left;
	margin: 1em;
	padding: .7em;
	width: 16%;
}

#studentGrade{
	display:block;
}	

#studentGrade a:visited{
	color: navy;
}	

#classRank{
	display:block;
}

.noticeMe{ /* -------    for guests who are not registered , not accpeted submission */ 
	font-weight: bold;
	font-size: 16pt;
	color: #ff0000;
	background: #ff3;	
}

/* ===================  Main Navigation Section  ============================ */
#mainMenu{
	border-bottom: thin solid #3B5998;
	float: left;
	font-size: 10pt;
	margin-top: 1.5em;
	min-width: 50em;
	padding-bottom: 1.3em;
}

#mainMenu ul{

}

#mainMenu .activeLink a, #adminMenu .activeLink a{
	color: #000;	
	background-color: #fff;
	border-bottom: thick solid white;
}

#mainMenu a, #adminMenu a{
	text-decoration: none;
}

.menuLink{
	display: inline;
}
.menuLink a{	
	border-left: thin solid gray;
	border-top: thin solid gray;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.menuLink a:link{
	background-color: #D8DFEA;
	border-left: thin solid #3B5998;
	border-top: thin solid #3B5998;
	border-right: thin solid #3B5998;
	color: navy;
	padding: 1em;
}

.menuLink a:visited{
	background-color: #D8DFEA;
	border-left: thin solid #3B5998;
	border-top: thin solid #3B5998;
	border-right: thin solid #3B5998;
	color: navy;
	padding: 1em;
}
.menuLink a:hover{
	background-color: #3B5998;
	border-left: thin solid green;
	border-top: thin solid green;
	border-right: thin solid green;
	color: white;
	padding: 1em;	
}

/* ------------------  admin menu  ------------------------------------------ */
#adminMenu{
	border-bottom: thin solid #3B5998;
	float:left;
	font-size: 10pt;
	margin-top: 1em;
	margin-left: 0;
	min-width: 55em;
	padding-bottom: 1.3em;
}


/* ===================  Main Content Section  =============================== */
#mainContent {
	background-color: white;
	/*margin: auto;*/
	overflow:auto;
	padding: 2em;
	padding-bottom: 50px;  /* must be same height as the footer */
	width: 90%;	
} 

#mainContent a:visited{
	color: #ffaa11;
}

/* ===================  Main Content Section  =============================== */
/* -------------------  Student Grade Page    ------------------------------- */

/* -------------------------- Grades ---------------------------------------- */

/* -- used for automatic grading -- */
.certain{
	background: #66aa66;
}

.uncertain{
	background: #fff000;
}
/* -------------------------------- */

.avggrade {
	background-color: #ffffcc !important;
	color: #ffcccc;
}

.failing {
	background-color: red !important;
}

#GradeCriteria{
  top: 75px;
	margin-bottom: 2em;
}

.GradesReleased {
	background-color: #66cc00 !important; 
	color: #ffffff !important;
}

.GradesReleased .highlight {
	color: #000000;
}

.GradingStarted {
	background-color: #fff000 !important; 
	color: #000000 !important;
}

.NotGraded {
	background-color: #aa0000; 
	color: #ffffcc;
}
#listStudents span.NotGraded {
	background-color: #aa0000; 
	color: #ffffcc;
}

#listStudents span.notSubmitted:before{
	content: "* ";
}
#listStudents span.notSubmitted{
	background-color: #fff;
        color: #000;
}
table#grading{
	margin: auto;
}

table#grading, table#grading td, table#grading th{
	border: 1px solid gray; 
	padding: 8px; 
	text-align: right;
}

.standard {
	color: Black;
	text-align: left;
	background-color: white;
	font-family: Arial;
	border-collapse: collapse;
}

.standard th {
	border-color: black;
	color: white;
	border: solid #000 1px;
	background-color:  #3b90cc;
	text-align: center;
	font-family: Arial, Verdana, Geneva, Helvetica, sens-serif;
	padding: 4px; 
}

.standard td {
	border: 1px dashed black;
	text-align: center;
	font-family: Arial, Verdana, Geneva, Helvetica, sens-serif;
}

/* ===================  Student List Section  =============================== */
/* -------------------  only admins see this  ------------------------------- */
#listStudents{
	float: left;
/*	height: 25em; */
	margin-right: 2em;
	overflow: auto;
	padding-right: 2em;
}

#listStudents span{
	display:block;
}

#listStudents span#key span{
	display:inline;
}
div.menu ul.menu li.menuAdmin{
	background-color: #fffae1;
}


#listStudents span {
	background: #fffae1;
	border-top: 1px dotted #a0a0a0;
	border-right: 4px solid #000000; 
	border-bottom: 1px dotted #a0a0a0;
	border-left: 1px solid #000000;
	color: #000000;
	margin: 0px 3px 0px 3px;
	padding: 6px 2px 6px 2px;
	width: 170px;
}


#listStudents a:visited {
	color: navy;
}

#listStudents a:hover {
	background: #fffae1;
	border: 0;
	padding-left: 1px;
}

#listStudents span:hover, #listStudents span.current:hover  {
	background-color: #fffae1;
	border-top: 4px solid #3B5998;
	border-right: 0; 
	border-bottom: 4px solid #3B5998;
	border-left: 0;	
	padding: 3px 4px 3px 3px;
 	width: 172px;
}

#listStudents span.current, #listStudents span.current a:visited{
	background-color: #fffae1;
	border-top: 4px dashed #3B5998;
	border-right: 0; 
	border-bottom: 4px dashed #3B5998;
	border-left: 0;	
	color: #880000;
	padding: 3px 4px 3px 3px;
 	width: 172px;
}


#gradingCriteria ol#studentCriteria{
    display: none;
}
/* ===================  Main Content Section  =============================== */
/* -------------------  layout                ------------------------ */


#slide{
	float: left;
	width: 57.8888889%; /* 566px / 900px less some padding*/
	padding: 0 1em 2em 0;
	border-right: dashed thin #999;
}

#lectureSlide #otherMedia, #displayAssign #otherMedia, #lecture #otherMedia{
	float: right;
	width: 36.7777778%; /* 331px / 900px */
}

#lecture #studentComments, #lectureSlide #studentComments, #displayAssign #studentComments{
	clear: both;
	margin-top: 1em; /* does not do anything :( */
	/*width: 36.7777778%; /* 331px / 900px */
}

#txtComments{
    width: 80%;
    height: 5em;
}
/* -------------------  Assignment / Lectures pages  ------------------------ */
.assignment a{
	color: #cc4444;
}

.current{
	border: thin solid #C3C3E5;
	font-weight: bold;
}

/* the perr grading page to highlight the current student you are working on */
#peerGrade .current{
    border: thick solid #C3C3E5;
    font-weight: bold;
}
#peerGrade ol li{
    padding: .5em;
    
}
.notStudentLink{ /* for instructor to see link is not avaliable to students */
	background-color: #ffa;
}

.summary{
	display: block;
}

.title{
	padding: .5em;
}

.LecturesLink{ /* also used on calendar */  
	list-style-type: none;
}

.videoList li{
	list-style-type: none;	
}

#otherMedia ol li{
	list-style-type: none;
	clear: both;
	border-top: thin dotted  #999999;
	padding-top: .4em;
	padding-bottom: .4em;
}

#otherMedia ol li audio{
/*	float: left; */
/*	height: 48px; */
	width: 50%;
	padding-right: .2em;
	margin-top: 0;
}
#otherMedia ol li img{
	height: 48px;
	width: 64px;
	float: left;
	padding-right: .2em;
	margin-top: 0;
}

.groupMembers li{
	list-style-type: none;
}
/* ===================  Main Content Section  =============================== */
/* -------------------  Calendar page         ------------------------------- */
.Absent{
	color: #ffbfbf !important;
	background: #aa0011 !important;
	text-align: center;	
}

.assignment{
	color: #cc4444;
	margin:0;
	padding: 0.125em 0.25em 0 0.25em;
	text-align:center; 	 
}

.callInSick{
	float: left;
	margin: 0;
}

div.date{
	float: right; 
	text-align:center; 
	border: 1px solid gray; 
	border-width: 0 0 1px 1px; 
	padding: 0.125em 0.25em 0 0.25em; 
	margin:0;  
	background: #F3F3F3; 
	width: 2em;
}

.Excused{
	color: #aa0011 !important;
	background: #ffadad !important;
	text-align: center;	
}

.labComplete{
	color: #24B300 !important;
	background: #ffcfcf !important;
	text-align: center;	
}
.Late{
	color: #24B300 !important;
	background: #ddffdf !important;
	text-align: center;	
}

.Personal{
	color: #aa0011 !important;
	background: #ffcfcf !important;
	text-align: center;	
}

.Present{
	color: #24B300 !important;
	background: #CCFFBF !important;
	text-align: center;
}

.presentation{
	border: dashed medium #ff0000 !important;
}
.Sick{
	color: #aa0011 !important;
	background: #ffadad !important;
	text-align: center;	
}

.TOPIC { 
	color: #4444CC; 
	text-align:center; 
	padding: 0.125em 0.25em 0 0; 
	margin:0;  
}

.VACA {
	background-color: #dfdfff; /*#EABFFF;*/ 
	font-style: italic;
}
	
tr#days{
	width:18%;
}

tr#days th.sat, tr#days th.sun {
	width:14%;
}

#calendar table tr#days th {
	color: #CCE;
	background-color: #224;
	font-weight: bold;
	text-align: center;
	padding: 1px 0.33em;
}

#calendar table tr#title th {
	background-color: #AAC; 
	color: black;
	border: 1px solid #242;
	font-size: 120%;
}
	 
#calendar table td {
	vertical-align:top;
	padding:3px; 
	border: 0px solid gray; 
	border-width: 0 0 1px 1px;
	width:14%;
}
	 
#calendar table td.Sat {
	border-width: 0 1px 1px 1px;
}

#calendar table a {
	text-decoration: none;
	font-weight: bold;
	display: block; 
}

td.Sat div.date, td.Sun div.date{
	border-width: 0;
	color: gray; 
	background: transparent;
}

td.Jun div.date, td.Aug div.date{
	border-width: 0; 
	color: gray; 
	background: transparent;
}	

#calendar table td.Sat, #calendar table td.Sun {
	background: #ddd;
}
	
#calendar table td.lastMonth, #calendar table td.nextMonth, #calendar table td.prevMonth {
   background: #AAB; 
	 color: #889;
}
	 
#calendar table tr#lastweek td {
	border-bottom: 2px solid #AAB;
}
	
#calendar table td.atoday {
	color: #C33;
	font-weight: bold; 
	background: #FF6; 
	border: 1px solid black;
}

/* ===================  Main Content Section  =============================== */
/* -------------------  Call in sick Page     ------------------------------- */


/* ===================  Main Content Section  =============================== */
/* -------------------  Syllabus Page         ------------------------------- */
.noBorder{border: 0px;}

.hideText{ 
	color: #ffffff;
}

.highlightRed{ 
	background-color: #cc0033;
	color: #ffffff;
}

#syllabus table, #syllabus table td, #syllabus table th{
	border: 1px solid gray; 
	padding: 3px; 
}

/* ===================  Main Content Section  =============================== */
/* -------------------  Submit Assignment Page  ----------------------------- */
#filesSubmited{
	clear: both;
	border-top: 1px dashed navy;
	padding: 1em 1em 1em 1em;
}

.left {
	text-align: left;
}

.submith1{font-weight: bold;
	font-size: 14pt;
}

#submitAssignments{
	width: 80%;
}

/* ===================  Main Content Section  =============================== */
/* -------------------  Class List Page (Admin)  ---------------------------- */
.highlight{
	background-color: #D8DFEA;
}

#studentInfo a:link {
	color: navy;
}
#studentInfo a:visited {
	color: navy;
}

.newGroup{
	border-top: thick solid black;
}
/* ===================  Main Content Section  =============================== */
/* -------------------  Lecture Page          ------------------------------- */
#frmDemo{
	
width:100%;
overflow:auto;
}


#frmDemo pre, #tblValidation pre {
    border: thin solid black;
    padding: 0;
    white-space:pre-wrap;
}

#frmDemo table, #tblValidation {
	margin: auto;
	border-collapse: collapse; 
	border: 1px solid #839E99;
	background: #f1f8ee; 
	font: 1em Georgia, "Times New Roman", Times, serif; 
	color: #033; 
}

#frmDemo table td, #frmDemo table th, #tblValidation td, #tblValidation th { padding: 3px 3px .75em 10px; line-height: 1.3em; 	border: thin dotted gray;}
#frmDemo table th , #tblValidation th{
	font-weight: bold; 
	text-align: center; 
	padding-right: .5em; 
	vertical-align: top;
}
#frmDemo table td, #tblValidation td { 
	text-align: left; 
	padding-right: 1em;
	border: thin dotted gray; 
}

#frmDemo, #tblValidation .odd {background-color: #DBE6DD;}
#frmDemo, #tblValidation .even {background-color: #ffffff;}

#sampleData table, #sampleData td, #sampleData th {
	border-collapse:collapse; 
	border: thin solid black; 
	padding: .5em;
}

#sampleData td:first-child + td + td, #sampleData td:first-child + td + td + td {
	text-align: center;
}

#tablestructure, #tablestructure td, #tablestructure th{
	border:thin solid black; 
	border-collapse:collapse;
	padding: .5em;
}

/* comment section */
div #studentComments{
/* clear: all;*/
}
#studentComments {
	background-color: #E7E7E7;
	margin-top: 1em;
}

#commentHeader{
	background-color: #E0E0E0;
	padding: .2em;
}

#addComment{
	float: right;
}

.postedDate{
	float: right;
}

#studentComments article{
	padding: 1em;
	
}

.poster{
	font-weight: bold;	
}

.comment{
	background-color: #fff;
}

#studentComments img{
	height:	1em;
	margin-top: 0;
	margin-bottom: -.1em;
}
/* -------------------  lecture slide page    ------------------------------- */



/* ===================  Main Content Section  =============================== */
/* -------------------  Grading Criteria(Admin)  ---------------------------- */
fieldset.slider label{
	display: block;
	padding-bottom: 1em;
}

fieldset.slider input{
	width: 3em;
	text-align: center;
}

#gradeForm input[type=text]{
	width: 70%;
	height: 1.75em;
}

#gradeForm textarea{
	width: 85%;
	height: 10em;
}

#gradeNumWrong .middle{
	text-align: right;
	vertical-align: middle;
}
/* ===================  Footer Section        =============================== */
footer {
	background-color: #3B5998;
	clear:both;
	color: white;
	height: 50px;      
	left: 0;
	margin-top: -50px; /* normally the negative value of footer height  */
	position: relative;
	top: 0;
} 

footer p{
	padding: 1em;
}

/* -------  i put this here so you can have your name show up  -------------- */
footer #author:after{
	content:"Robert Erickson"; 
}

#ProcessingTime{
	float: right;
}

/* ===================  Non validating Section  ============================= */
pre { 
 white-space: pre-wrap;       /* css-3 */
 border: thin solid black;
 padding: 1.25em;
}

code{ 
 white-space: pre-wrap;       /* css-3 */
 padding: 1.25em;
}

/* ===================  Testing New Items Section  ========================== */
/* used for grading page */
/* slider  page css*/
/*body{ font: 62.5% "Trebuchet MS", sans-serif; margin: 50px;}*/
.demoHeaders { margin-top: 2em; }

#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}

#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

ul#icons {margin: 0; padding: 0;}

ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}

ul#icons span.ui-icon {float: left; margin: 0 4px;}

body{
	background-color: #dcdbd9;
	color: #2C2C2C;
	font: normal 100% Cambria, Georgia, serif;
	width: 960px;
	margin: 0 auto;
}
#toolmenu:before {
		content: 'standard screen';
	}

h1{
	font-size: 1.5em; /* 24px / 16px */
	font-style: italic;
	font-weight: normal;
}


/* ===================  Header  Section  ==================================== */
#header {
	background-color: #3B5998;
	border-bottom:1px solid #000;
	color: #fff;
	padding:10px;
}

#header a:link, #header a:visited{
	color: #fff;
}

#header a:hover{
	background-color:#6D86B7;
}

#classtitle{
	font-size:14px; 
	font-weight:bold;
}

#toolmenu{
	float:right;
	margin-top: -1.1em;
}
#toolmenu ol li{
	display:inline;
}


#termOfSubmission ol li li{
	list-style-type: lower-alpha;	
}

/* ================================



cascade media queries so the smallest one is last
because with max width



========================================== */
@media screen and (max-width: 320px){
	body{
		background-color: pink;
		color: #2C2C2C;
		font: normal 100% Cambria, Georgia, serif;
		width: 300px;
		margin: 0 auto;
	}
		
	#toolmenu ol li{
		display: none;
		float:none;
		margin-top: 0;
		padding: .4em;
		padding-right: 1em;
	}
	#toolmenu:before {
		content: 'max-width: 320px';
	}
}


@media screen and (max-width: 480px){
	body{
		background-color: black;
		color: #2C2C2C;
		font: normal 100% Cambria, Georgia, serif;
		width: 480px;
		margin: 0 auto;
	}
		
	#toolmenu{
		float:none;
		margin-top: 0;
		padding: .4em;
		padding-right: 1em;
	}
	#toolmenu:before {
		content: 'max-width: 480px';
	}
}

@media screen and (max-width: 520px){
	body{
		background-color: grey;
		color: #2C2C2C;
		font: normal 100% Cambria, Georgia, serif;
		width: 520px;
		margin: 0 auto;
	}	
	#toolmenu{
		float:none;
		margin-top: 0;
		padding: .4em;
	}
	#toolmenu:before {
		content: 'max-width: 520px';
	}	
}

@media screen and (max-width: 768px){
	body{
		background-color: red;
		color: #2C2C2C;
		font: normal 100% Cambria, Georgia, serif;
		width: 750px;
		margin: 0 auto;
	}	
	#toolmenu:before {
		content: 'max-width: 768px';
	}	
}

/**************************************************/
@media screen and (max-width: 520px){
/* ===================  Main Navigation Section  ============================ */
#mainMenu{
	margin: 2em;	
}

#mainMenu a, #adminMenu a{
	text-decoration: none;
}

.menuLink{
	display: block;
	min-height:4em;
	width:100%;
}
.menuLink a{	
	border-left: thin solid gray;
	border-top: thin solid gray;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.menuLink a:link{
	
	padding: 2em;
}

.menuLink a:visited{
	
	padding: 2em;
}
.menuLink a:hover{
	
	padding: 2em;	
}

/* ------------------  admin menu  ------------------------------------------ */
#adminMenu{
	
	
	
	margin: 2em;

}


}
/*************************************************/
@media screen and (min-width: 1200px){
	body{
		background-color: green;
		color: #2C2C2C;
		font: normal 100% Cambria, Georgia, serif;
		width: 1200px;
		margin: 0 auto;
	}
	#toolmenu:before {
		content: 'min-width: 1200px';
	}	
}
