<!doctype html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		
		<link rel="stylesheet" href="templateStyle.css">
	</head>

	<body>

		<div id="headerGraphic"> 
			<div id="innerHeaderBox">
				<div id="studentInfo"></div><!-- end studentInfo -->
				<div id="pageTitle"></div><!-- end pageTitle -->
			</div><!-- end innerHeaderBox-->
		</div><!--end headerGraphic -->
		
		<div id="wrapper">
			<div id="notebook">
				<div id="mainContent"> </div><!--end mainContent -->
				<div id="additionalReadings"></div><!--end additionalReadings -->
			</div><!--end notebook -->
			
			<div id="nav"></div><!--end nav -->
		</div><!--end wrapper-->

		<div id="footerGraphic">
			<div id="footer"></div><!--end footer -->
		</div><!--end footerGraphic -->

	</body>
</html>